<head>
  <style type="text/css">
    body {
      background: #1a6875;
    }

    .left-side {
      max-width: 45%;
      text-align: right;
      position: absolute;
      top: 15%;
      left: 0;
    }

    .left-side h1 {
      color: #fff;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 5em;
    }

    .click-me-button {
      font-size: 2em;
      border: unset;
      border-radius: 25px;
      cursor: pointer;
      outline:none;
      padding: 0 0.5em;
      margin-right: 0.5em;
    }

    .click-me-button:active {
      transform: translateY(2px);
    }

    .right-side {
      width: 30em;
      height: 30em;
      background: #d0e64c;
      border-radius: 50%;
      position: absolute;
      top: 10%;
      right: 5%;
    }
  </style>
</head>

<body>
  <div class="left-side">
    <h1 class="title">This web app was built with RUST</h1>
    <button class="click-me-button">Click me😊</button>
  </div>
  <div class="right-side">
    <div class="round-image"></div>
  </div>
</body>
